/protected/config/main.php
/protected/runtime/cache/*
/protected/runtime/application.log*
/data/post/*.xml
/data/post/*.php
/protected/components/geshi/*.php
/protected/extensions/*
/protected/data/*
/protected/runtime/*
/public_html/assets/*
/public_html/img/*
/public_html/images/*
/protected/tests
/public_html/css/smoothness
/protected/views/multilevelpiechart/doc
/protected/views/multilevelpiechart/docbook
/protected/yiic*
/public_html/archivos/*
/public_html/favicon.ico
/public_html/recibe.php